<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
	<div>
		<h3>Log In</h3>

		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    	{% if 'login_error' in message.tags %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    	{% endif %}
			    {% endfor %}
			</ul>
		{% endif %}


		<form action="{% url 'accounts:process' %}" method="post" enctype="multipart/form-data">

			{% csrf_token %}
			<input type="hidden" name="login">

			<label for="username">Username:</label>
			<input type="text" name="username"><br>

			<label for="password">Password:</label>
			<input type="password" name="password"><br>


			<button type="submit">Submit</button>
		</form>
	</div><br>

	<div>
		<h3>Register for an Account</h3>

		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    	{% if 'registration_error' in message.tags %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    	{% endif %}
			    {% endfor %}
			</ul>
		{% endif %}

		
		<form action="{% url 'accounts:process' %}" method="post" enctype="multipart/form-data">

			{% csrf_token %}
			<input type="hidden" name="register">

			<label for="username">Username:</label>
			<input type="text" name="username"><br>

			<label for="firstname">First Name:</label>
			<input type="text" name="firstname"><br>

			<label for="lastname">Last Name:</label>
			<input type="text" name="lastname"><br>

			<label for="email">Email:</label>
			<input type="text" name="email"><br>

			<label for="password1">Password:</label>
			<input type="password" name="password1"><br>

			<label for="password2">Confirm Password:</label>
			<input type="password" name="password2"><br>

			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>